################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/ExampleProjects/v15
/AIModuleLoader/Release
/AIModuleLoader/Release
/BWAPIClient
/BWAPILIB
/Chaoslauncher
/Debug
/include
/MPQDraft
/Release
/Shared
*.lnk
*.pdb
*.pdb
*.map
*.snp
*.dll
*.ini
*.pdb
*.pdb
*.vcxproj
*.tlog
ExampleAIClient/Release/ExampleAIClient.tlog/CL.write.1.tlog
*.pdb
ExampleAIClient/Release/vc141.pdb
